html{
    max-width: 110%;
    max-height: 110%;
    max-zoom: 110%;
}
body{
background: black;
font:  normal 15pt Arial;
text-align: center;
background-image: url("background.jpg");
opacity: 0.9;
background-size: cover;
background-size: 1900px;
background-position: fixed;  
background-repeat: no-repeat;
}

header{
    color: white;
    text-align: center;
    font:  normal 30pt Arial;

}
section{

background-color: white;
border-top: 20px;
border-radius: 10px;
padding: 15px;
width: 500px;
margin: auto;
margin-top: 100px;
margin-bottom: auto;
box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.411);

text-align: center;

}   

footer{
    color: white;
    text-align: center;
    font-style: italic;
    font-size: small;
    text-align: center;
    margin-left: 27%;
    margin-right: 27%;
    margin-top: 20%;
}
#d0
{
    text-align: center;
}
#d1,#d2 {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.411);
    padding-top: 30px;
    display:flex;
    text-align: center;
   }
h1{
    text-align: center;
    color:white
}

h4,h6 {
    text-align: center;
    
}
#main-card{
    padding-top: 20px;
}

#txtcity{
    text-align: center;
}

#main-section {
    text-align: center;
}

#title {
    text-align: center;
}
#foot {
    margin-left: 30px;
}
#footinfo {
    size: 50px;
}

/* =CSS Reset */ /******************************TUDO REFERNTE AO SIDEBAR MODULO COPLETAMENTE REMOVIVEL
/* https://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
*, html, body {
	margin:0;
	padding:0;
	}
 /* mais regras CSS reset */

/* regra para o box-sizing */
*, *:before, *:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
/* regra para o clear float */
.cf:before,
.cf:after {content: " ";display: table;}
.cf:after {clear: both;}
.cf {*zoom: 1;}
body {
	margin-left:55px; /* espaço à esquerda para a barra vertical vísivel do menu */
	font:  62.5%/1.2 Verdana, Helvetica, Arial, sans-serif;
    }
    #lateral {
        padding:0 50px 0 0;
        -moz-transition: all 0.5s ease;
            -webkit-transition: all 0.5s ease;
                -o-transition: all 0.5s ease;
                    transition: all 0.5s ease;
        font-size:10px;
        background:rgb(41, 112, 184);
        background-image: -moz-linear-gradient(135deg, rgb(48, 117, 173), rgb(16,57,79));
         background-image: -webkit-linear-gradient(135deg, rgb(3,8,12), rgb(21, 136, 197));
          background-image: -o-linear-gradient(135deg, rgb(3,8,12), rgb(16,57,79) );
           background-image: -ms-linear-gradient(135deg, rgb(3,8,12), rgb(33, 108, 148));
            background-image: linear-gradient(135deg, rgb(3,8,12), rgb(42, 171, 240));
        height:100%;
        overflow:hidden;
        width:370px; 
        position:fixed;
        top:0;
        left:-320px;
        }
    #lateral:before {
        z-index:1000;
        content: url(icone-menu.png);
        font-size:10px;
        color:white;
        position:fixed;
        left:4px;
        top:45px;
        }
    #lateral:hover:before, #lateral:focus:before {
    left:-500px
        }
    #lateral:hover, #lateral:focus,  #lateral:active  {
        overflow-y:scroll;
        -moz-transform: translate(320px, 0);
            -webkit-transform: translate(320px, 0);
                -o-transform: translate(320px, 0);
                    transform: translate(320px, 0);
        padding-right:0;
        }	

        #lateral .box {
            list-style-type:none;
            margin-bottom:1em;;
            padding-bottom:1em;
            }
        #lateral h3 {
            display:inline-block;
            font-weight:bold;
            font: size 10px;
            font-style:normal;
            padding-bottom:0.2em;
            margin: 2em 0 2em 0.81em;
            color:rgb(255,255,255);
            border-bottom: 4px solid rgb(155,155,155);
            }
        #menu {
            font-style:italic;
            position:relative;
            font-size:1.0em;
            margin:1em 0 1em -1em;
            padding:0;
            }
        #menu li {padding:0; margin:0;}
        #menu li a,  #menu li a:link {
            font-size:1.2em;
            color:rgb(255,255,255);
            text-decoration: none;
            padding: 0.8em 0 0.8em 1em;
            display: block;
            -moz-transition: all 1.2s ease;
                    -webkit-transition: all 1.2s ease;
                        -o-transition: all 1.2s ease;
                            transition: all 1.2s ease;
            }
        #menu li a:hover {
            color:rgb(255,255,255);
            background-color:rgba(255,255,255,0.2);
            -moz-transition: all 0.5s ease;
                    -webkit-transition: all 0.5s ease;
                        -o-transition: all 0.5s ease;
                            transition: all 0.5s ease;
            }
            @media (max-width: 500px) {
                body {margin-left:0;background-size:100% 28em!important;}
                #lateral {
                    padding:0;
                    -moz-transition: all 0.5s ease;
                        -webkit-transition: all 0.5s ease;
                            -o-transition: all 0.5s ease;
                                transition: all 0.5s ease;
                    font-size:1.2em;
                    height:100%;
                    overflow:auto;
                    width:100%; 
                    position:static;
                    top:0;
                    left:0;
                    }
                #lateral:before {
                    z-index:1000;
                    width:0;
                    text-align:center;
                    content: "";
                    font-size:0;
                    color:white;
                    position:static;
                    top:0;
                    left:0;
                    display:inline-block; 
                    }
                #lateral:hover, #lateral:focus {
                    overflow:scroll;
                    -moz-transform: none;
                        -webkit-transform: none;
                            -o-transform:none;
                                transform:none;
                    }
                #menu li a {border-bottom:1px solid #ccc;}
                #menu li:first-child a {border-top:1px solid #ccc;}	
                }
               